fieldset{
    background-color: black;
}

div{
    margin-left: 10px;
    margin-right: 800px;
    margin-bottom: 200px;
    padding-right: 400px;
}
body{
    background-color: #4FAAA1;
}
legend{
    color: white;
}